@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-image: url(../img/download.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.kiri {
    font-size: small;
}

.breadcrumbs li {
    list-style-type: none;
    display: inline-block;
}

.breadcrumbs .arrow {
    margin: 0 20px;
}

.bold {
    font-weight: bold;
}

.sustify {
    text-align: justify;
}

.card-title {
    font-size: small;
    text-align: left;
    /* color:#D8D9CF; */
}

.card {
    width: fit-content;
}

h2,
h5,
.h2,
.h5 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

h5,
.h5 {
    font-size: .8125rem;
}

@media (min-width: 992px) {

    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 1200px) {

    .col-xl-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}


.bg-danger {
    background-color: #f5365c !important;
}



@media (min-width: 1200px) {

    .justify-content-xl-between {
        justify-content: space-between !important;
    }
}


.pt-5 {
    padding-top: 3rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

@media (min-width: 768px) {

    .pt-md-8 {
        padding-top: 8rem !important;
    }
}

@media (min-width: 1200px) {

    .mb-xl-0 {
        margin-bottom: 0 !important;
    }
}




.font-weight-bold {
    font-weight: 600 !important;
}


a.text-success:hover,
a.text-success:focus {
    color: #24a46d !important;
}

.text-warning {
    color: #fb6340 !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #fa3a0e !important;
}

.text-danger {
    color: #f5365c !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #ec0c38 !important;
}

.text-white {
    color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #e6e6e6 !important;
}

.text-muted {
    color: #8898aa !important;
}

@media print {

    *,
    *::before,
    *::after {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    p,
    h2 {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }

    /* @ page 
    size: a3;
   */

    body {
        min-width: 992px !important;
    }


    figcaption,main {
        display: block;
    }

    main {
        overflow: hidden;
    }
}

.container-fluid {
    margin-left: 25%;
}