@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-image: url(../img/download.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.kiri {
    font-size: small;
}

.breadcrumbs li {
    list-style-type: none;
    display: inline-block;
}

.breadcrumbs .arrow {
    margin: 0 20px;
}

.bold {
    font-weight: bold;
}

.sustify {
    text-align: justify;
}

.card-title {
    font-size: small;
    text-align: left;
    /* color:#D8D9CF; */
}

.card {
    width: fit-content;
}
